/* below style appiles to table, heading and data */
		table, th, td 
		{
    		border: 1px solid black;
    		border-collapse: collapse;
		}	

	/* below style appiles only to heading */		 
		th
		{
			background-color: green;
			color: white;
		} 